.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  background-color: #ffffff !important;
}