<div class="form-container">
  <div class="form-container__left">
    <img src="logo.png" alt="logo">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="custom-input" appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Ingresa tu correo" />
    </mat-form-field>
  
    <mat-form-field class="custom-input" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
</div>
