/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ffffff;
  --secondary-color: #3B4786;
  --button-color: #888ACA;
  --text-inpur-color: #9EA8B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

html, body { height: 100%; }
