:root {
  --primary-color: #ffffff;
  --secondary-color: #3B4786;
  --button-color: #888ACA;
  --text-inpur-color: #9EA8B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  margin: auto;
}

html, body { height: 100%; }

app-register, app-login {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #E3EBF7;
  padding: 0 1rem;
}

/*  */
.mdc-list-item__primary-text {
  display: flex !important;
  align-items: center !important;
  width: max-content !important;
}

.header-content[_ngcontent-ng-c1706316444] {
  margin: 0 !important;
}

/* Dashboard */
app-dashboard {
  display: flex;
  flex: 1 !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}